
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <h2>Hakkımızda</h2>
    <p>
        Merhaba;
        <br>Ben Ayşegül Kuşlugil, Şirketimizi 2020 Yılında Bodrumda Uzaktan çalışarak başladık 2022 Yılında kurumsallaşarak Bodrumda Bir şirket açtık. Şirketimizde şu an 6 kişi çalışmaktayız.
        Şirketimizin sağladığımız hizmetlerden bazıları..
    </p>
        <p>
          <h3>Bilgisayar ve Ağ Hizmetleri</h3>
        - Bilgisayar donanımı satışı ve bakımı.    
        <br>- Ağ kurulumu, güvenlik ve bakım hizmetleri.    
        <br>- Sunucu yönetimi ve konfigürasyonu.  
        </p>

        <p>
            <h3>Yazılım Geliştirme ve Danışmanlık</h3>
        - Özel yazılım geliştirme projeleri.      
        <br>- Yazılım danışmanlığı ve stratejik planlama.
        </p>
            
        <p>
            <h3>Siber Güvenlik Hizmetleri</h3>
        - Güvenlik değerlendirmeleri ve risk analizleri.    
        <br>- Güvenlik yazılımı ve donanımı sağlama.    
        <br>- Ağ güvenliği ve siber saldırı önleme hizmetleri.   
        </p>    

        <p>
            <h3>Veri Yedekleme ve Kurtarma</h3>
        - Veri yedekleme ve kurtarma çözümleri.    
        <br>- Felaket kurtarma planlarının oluşturulması ve uygulanması.  
        </p>
            
        <p>
            <h3>Bulut Hizmetleri ve Yönetimi</h3>
        - Bulut tabanlı uygulama ve altyapı hizmetleri.    
            <br>- Bulut mimarisi tasarımı ve yönetimi.  
        </p>
            
        <p><h3>Mobil Uygulama Geliştirme</h3>
        - Android ve diğer mobil platformlar için uygulama geliştirme.    
           <br>- Mobil strateji danışmanlığı ve uygulama güncelleme hizmetleri.   
        </p>

        <p>
            <h3>E-Ticaret Çözümleri</h3>
        - Çevrimiçi mağaza oluşturma ve yönetme.    
            <br>- Ödeme geçitleri entegrasyonu ve e-ticaret web sitesi güvenliği.  
        </p>    

        <p><h3>Teknoloji Danışmanlığı</h3>
        - İşletme ihtiyaçlarına uygun teknoloji stratejileri oluşturma.    
           <br>- IT altyapısının optimizasyonu ve iyileştirilmesi.
        </p>

        <p><h3>Veri Analitiği ve İş Zekası Çözümleri</h3>
        - Veri analizi ve raporlama çözümleri.     
           <br>- İş zekası danışmanlığı ve veri madenciliği hizmetleri.
        </p>


</div>


