
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <h2>İletişim</h2>
    <hr /><br />
    <h4>İletişim Bilgileri: </h4><br />
    <h5>Eposta adresi: </h5>
    <label id="Eposta">kuslugilaysegul@gmail.com</label><br />
    <h5>Telefon:</h5>
    <label id="Telefon">0598 098 65 43</label><br />
    <h6>Adres:</h6>
    <label id="Adres">Frenk Azmağı Caddesi Dirmil Mahallesi No:23 Yalıkavak, Bodrum/MUĞLA</label><br />
    <h7>LinkedIn:</h7><br>
    <label id="LinKedIn">
        <a href="https://www.linkedin.com/in/ay%C5%9Feg%C3%BCl-ku%C5%9Flugil-15a618257/" target="_blank">Ayşegül Kuşlugil</a>
    </label><br>
</div>


